<!DOCTYPE html>
<html>
<title>About US</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {
  font-family: "Audiowide", sans-serif;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top" >
  <div class="w3-bar w3-white w3-wide w3-padding w3-card" >
    <a href="{{ url_for('welcome') }}" class="w3-bar-item w3-button">Crop Management System using ML</a>
    <!-- Float links to the right. Hide them on small screens -->
    
  </div>
</div>
<div style="height:500px;background-image: url('../static/css/ai.jpeg">
</div>
<!-- Header -->


<!-- Page content -->
<div class="w3-content w3-padding" style="font-family: 'Audiowide', sans-serif;;max-width:1564px;background-image: url('../static/css/bbg.jpg');background-repeat: no-repeat;background-size:cover;color: white;">

  

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About US</h3>
    <p>As a group of engineering students, we always envisioned in creating something to help the society. After a lot of research, we realised the best way to help the society is to help the people who feed it ie: the farmers of our country. While our contribution maybe small, our ambition and vision are larger than life. We believe that when great minds come together, they can accomplish wonders.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale" style="margin-left:100px;">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img  src="/static/css/WhatsApp Image 2021-06-12 at 7.51.19 PM.jpeg" alt="John" style="width:100%; border-radius: 50%;height: 300px;">
      <h3>Sai Anand P</h3>
      <p class="w3-opacity">Final year student</p>
      <p>anand@gmail.com</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" style="margin-left:130px";>
      <img src="/static/css/WhatsApp.jpeg" alt="Jane" style="width:100%;border-radius: 50%;height: 300px;">
      <h3>Sandeep S</h3>
      <p class="w3-opacity">Final year student</p>
      <p>sandeep@gmail.com</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" style="margin-left:120px";>
      <img src="/static/css/IMG_20210323_153757_2.jpg"  style="width:100%;border-radius: 50%;height: 300px;">
      <h3>V Pranav Srinivas</h3>
      <p class="w3-opacity">Final year student</p>
      <p>pranav@gmail.com</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    
  </div>

  <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
